* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none
}

.container {
  width: 1400px;
  height: 690px;
  display: flex;
  justify-content: center;
  align-items: center;

  .iphone {
    width: 380px;
    height: 600px;
    background-image: url(/image/Без\ названия.jpg);
    border: 6px solid #000;
    border-radius: 20px;
    padding: 12px;
    position: relative;

    .camera {
      position: absolute;
      top: 15px;
      right: 50%;
      background: #000;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      .cam {
        width: 8px;
        height: 8px;
        background: #635c5c;
        border-radius: 50%;
      }
    }

    .menyu {
      padding-top: 50px;
      // padding-left: 20px;

      display: flex;
      gap: 20px;

      .clock {
        a {

          img {
            width: 80px;
            height: 75px;
            border-radius: 50%;
          }
        }

        h1 {
          color: white;
          font-size: 20px;
          padding-left: 15px;
          padding-top: 8px;
        }
      }

      .taymer {
        a {
          img {
            width: 80px;
            height: 75px;
            border-radius: 50%;
          }
        }

        h1 {
          color: white;
          font-size: 20px;
          padding-left: 8px;
          padding-top: 8px;
        }
      }
    }
  }
}